/*GENERAL*/
@font-face {
    font-family: OpenSans-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}

body {
    background-color: #f9f9f9;
    font-family: 'OpenSans-Regular';
}

.main-container {
    width: 1060px;
    margin: auto;
    padding: 50px 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
    -webkit-box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
    box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
}

/*HEADER*/

header {
    margin: 0 50px;
}

.logo-container {
    margin-bottom: 40px;
}


nav {
    display: block;
    width: 965px;
    margin: 0 auto 30px;
}

.main-nav ul {
    display: flex;
    width: 100%;
    height: 42px;
    padding: 0;
    background-image: url('../img/panel.png');
    /*display: -webkit-flex;*/
}

.main-nav li {
    width: 140px;
    margin: 0;
}

.main-nav a {
    display: block;
    padding: 16px;
    color: #fff;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
}

.nav-button a:visited {
    color: #fff;
    text-decoration: none;
}

.main-nav li:nth-child(2) {
    width: 101px;
    height: 42px;
    background-image: url('../img/hover.png');
    line-height: 20px;
}



/*CONTENT*/
article {
    width: 640px;
    float: left;
}

.img-container,
.text-container {
    margin-left: 50px;
}

.main-image {
    width: 675px;
}

.clear {
    clear: left;
   }

.text-container {
    width: 675px;
    margin-top: 25px;
    color: #2c2c2c;
    font-size: 14px;
    text-align: justify;
}


/*SIDEBAR*/
.sidebar {
    width: 240px;
    margin-left: 50px;
    padding: 0;
    float: left;
}

.side-menu {
    width: 240px;
}

.side-menu li {
    display: block;
    width: 205px;
    height: 39px;
    padding-left: 35px;
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.side-menu li:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.side-menu a {
    display: block;
    color: #c8c8c8;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;

}

.side-menu li:hover {
    width: 195px;
    padding-left: 45px;
    background-color: #f9f9f9;
}

.side-menu li:hover a {
    color: #2c2c2c;
}

/*FOOTER*/

footer {
    margin-top: 40px;
}


.footer-menu {
    display: flex;
    height: 20px;
    padding: 10px 25px;
    background-color: #e1e1e1;
    /*display: -webkit-flex;*/
}

.footer-menu li {
    width: 120px;
}

.footer-menu li:last-child {
    width: 465px;
    text-align: right;
}

.footer-menu li:nth-child(2) {
    text-decoration: underline;
}


.footer-menu a {
    color: #2c2c2c;
    font-size: 14px;
    text-decoration: none;
}
