/*GENERAL*/
@font-face {
    font-family: OpenSans-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}

body {
    background-color: #f9f9f9;
    font-family: 'OpenSans-Regular';
}

a {
    color: #2c2c2c;
    text-decoration: none;
}

    /*general containers*/
.main-container {
    width: 1060px;
    margin: auto;
    padding: 50px 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
    -webkit-box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
    box-shadow: 0 0 3px 3px rgba(219, 219, 219, 1);
}

.secondary-container {
    margin: 0 45px;
}

/*HEADER*/

.main-menu {
    margin: 40px 0;
}

.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 40px;
    padding-left: 10px;
    background-image: url('../img/menu.png');
}

.nav-button {
    display: flex;
    margin: auto 0;
}

.nav-button a {
    display: box;
    width: 101px;
    height: 30px;
    margin-right: 40px;
    padding-top: 10px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

/*.nav-button a:hover {
    background-image: url('../img/hover.png');
}*/

.main-list li:nth-child(2) a {
    background-image: url('../img/hover.png');
}

/*SIDEBAR*/

.sidebar {
    width: 240px;
    padding: 0;
    float: left;
}

.side-menu {
    width: 240px;
}

.side-menu li {
    display: block;
    width: 205px;
    height: 39px;
    padding-left: 35px;
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.side-menu li:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.side-menu a {
    display: block;
    color: #c8c8c8;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;

}

.side-menu li:hover {
    width: 195px;
    padding-left: 45px;
    background-color: #f9f9f9;
}

.side-menu li:hover a {
    color: #2c2c2c;
}

/*ARTICLE*/
article {
    float: left;
}

.img-container,
.text-container {
    margin-left: 50px;
}

.main-image {
    width: 675px;
}

.text-container {
    width: 650px;
    margin-top: 25px;
    padding-left: 25px;
    color: #2c2c2c;
    font-size: 14px;
    line-height: 17px;
}

.clear {
    clear: left;
   }

   /*FOOTER*/

footer {
    margin-top: 40px;
   }

.footer-menu {
    display: flex;
    height: 20px;
    padding: 10px 25px;
    background-color: #e1e1e1;
   }

.footer-menu li {
    width: 120px;
   }

.footer-menu li:last-child {
    width: 465px;
    text-align: right;
   }

.footer-menu a,
.footer-menu p {
    color: #2c2c2c;
    font-size: 14px;
   }

.footer-menu a {
    text-decoration: none;
   }

   /*.footer-menu a:hover {
       text-decoration: underline;
   }*/

.footer-menu li:nth-child(2) {
    text-decoration: underline;
   }
